/* Create class input_text with border based in
	background: radial-gradient(circle, #a385f2 0%, #73a3f4 57.71%);
	background-blend-mode: normal;
	backdrop-filter: blur(34px);
	box-shadow: 0px 12px 36px 1px rgba(207, 130, 255, 0.5);
*/
.input_text {
	color: rgb(144, 141, 141);
	/* Modificar color del placeholder */
	border: hsla(249, 89%, 90%, 0.5) 1px solid;
	background-blend-mode: normal;
	backdrop-filter: blur(34px);
	box-shadow: 0px 2px 5px 1px rgba(205, 205, 205, 0.5);
	border-radius: 8px;
	padding: 6px 12px;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
	width: 100%;
}
.input_text::placeholder {
	color: rgb(183, 183, 183);
}

.input_text:focus {
	color: rgb(65, 65, 65);
	border: #73a3f4 1px solid;
	background-blend-mode: normal;
	backdrop-filter: blur(34px);
	box-shadow: 0px 3px 9px 1px rgba(130, 213, 255, 0.5);
	border-radius: 8px;
	padding: 6px 12px;
	cursor: pointer;
	transition: all 0.3s ease;
}
